.intro__wrapper {
  background-image: url("../img/promo/green-cat-promo.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 320px;
  box-sizing: border-box;
}
.intro__wrapper::before {
  content: '';
  position: absolute;
  width: 320px;
  z-index: 0;
  opacity: 0.85;
  background-color: #68B738;
  top: 0;
  height: 302px;
}
@media (min-width: 768px) {
  .intro__wrapper::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .intro__wrapper {
    background-image: none;
    width: 708px;
    margin: 0 auto;
  }
}
.intro__title {
  padding: 27px 36px;
  text-align: center;
  z-index: 3;
  position: relative;
}
@media (min-width: 768px) {
  .intro__title {
    text-align: left;
  }
}
.intro__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-align: center;
  z-index: 3;
  position: relative;
}
.intro__image {
  display: block;
  margin: 29px 20px 0;
  position: relative;
  z-index: 3;
}
.intro__link {
  display: block;
  color: #FFFFFF;
}
