@import '../base/mixins.less';
@import '../base/variables.less';

.intro {
  background-color: @background-green;
  background-image: url("../img/promo/green-cat-promo.jpg");
  background-repeat: no-repeat;
}

.intro__title {

}

.intro__text {
  .text-uppercase(14px; 14px; @base-color);
}

.intro__image {
  display: block;
}

.intro__link {
  display: block;
  color: @base-color;
}
