@import '../base/mixins.less';
@import '../base/variables.less';

.intro {
  position: relative;
  min-width: 320px;

  &::before {
    content: '';
    position: absolute;
    min-width: 320px;
    z-index: 3;
    opacity: 0.85;
    background-color: @apple;
    top: 0;
    right: 0;
    left: 0;
    height: 302px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

}

.intro__wrapper {
  background-image: url("../img/promo/green-cat-promo.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    background-image: none;
    width: 708px;
    margin: 0 auto;
  }

}

.intro__title {
  margin: 27px 35px 25px 36px;
  text-align: center;
  z-index: 3;
  position: relative;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding: 62px 30px 20px 90px;
  }

}

.intro__text {
  .text-uppercase(14px; 14px; @base-color);
  text-align: center;
  z-index: 3;
  position: relative;

  @media (min-width: @tablet-width) {
    .text-uppercase(20px; 20px; @black);
    text-align: left;
    margin-left: 90px;
  }
}

.intro__image {
  display: block;
  width: 280px;
  margin: 29px auto 0;
  position: relative;
  z-index: 3;
  align-items: center;
}

.intro__image-link-wrapper {
  position: relative;
}

.intro__link {
  display: block;
  color: @base-color;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    left: 90px;
    z-index: 5;
  }
}
