@import '../base/mixins.less';
@import '../base/variables.less';

.main-container__options-promo-wrapper {
  @media (min-width: @tablet-width) {
    .center(708px);
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}
