@media (min-width: 768px) {
  .main-container__options-promo-wrapper {
    margin: 0 auto;
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .main-container__options-promo-wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-container__inro-position {
    margin-top: -59px;
  }
}
