@import '../base/mixins.less';
@import '../base/variables.less';

.navigation {
  .text-uppercase(18px; 24px; @black;);
}

.navigation__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.navigation__link {
  color: @black;
}
