@import '../base/mixins.less';
@import '../base/variables.less';

.product-cart__title-link {
  .text-uppercase(16px; 20px; @black)
}

.product-cart__image {
  display: block;
  width: 68px;
  height: 86px;
}

.product-cart__description {
  .text-base(12px; 16px; @charcoal)
}


