.program-type {
  background-color: #F2F2F2;
}
.program-type__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
}
.program-type__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.program-type__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
