.select-program {
  background-color: #FFFFFF;
}
.select-program__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
