.select-program {
  background-color: #FFFFFF;
}
.select-program--form {
  border-top: 1px solid #D9D9D9;
}
.select-program__wrapper {
  padding: 27px 20px 32px;
}
@media (min-width: 768px) {
  .select-program__wrapper {
    margin: 0 auto;
    width: 707px;
    padding-left: 40px;
    padding-right: 37px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .select-program__wrapper {
    width: 1220px;
  }
}
.select-program__title {
  margin: 0;
  margin-bottom: 37px;
}
.select-program__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  margin-bottom: 39px;
}
