.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}
.title--intro {
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .title--intro {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}
