@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
img {
  max-width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.comparison {
  background-color: #F2F2F2;
}
@media (min-width: 768px) {
  .comparison__wrapper {
    margin: 0 auto;
    width: 707px;
  }
}
@media (min-width: 1200px) {
  .comparison__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}
@media (min-width: 1200px) {
  .comparison__description-wrapper {
    width: 436px;
  }
}
@media (min-width: 768px) {
  .comparison__table-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .comparison__table-wrapper {
    flex-direction: column;
  }
}
.comparison__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.comparison-image__after {
  height: 256px;
}
.intro {
  background-color: #68B738;
  background-image: url("../img/promo/green-cat-promo.jpg");
  background-repeat: no-repeat;
}
.intro__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}
.intro__image {
  display: block;
}
.intro__link {
  display: block;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .program-type__wrapper {
    margin: 0 auto;
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .program-type__wrapper {
    width: 1220px;
  }
}
.program-type__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  margin: 0;
}
.program-type__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .program-type__list {
    display: flex;
  }
}
.program-type__item {
  background-color: #F2F2F2;
}
.program-type__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}
@media (min-width: 768px) {
  .work-principle__wrapper {
    margin: 0 auto;
    width: 707px;
  }
}
@media (min-width: 1200px) {
  .work-principle__wrapper {
    width: 1220px;
  }
}
.work-principle__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .work-principle__list {
    display: grid;
    grid-template-columns: 147px 324px;
    gap: 137px;
  }
}
@media (min-width: 1200px) {
  .work-principle__list {
    display: flex;
    justify-content: space-between;
    width: 1220px;
  }
}
.select-program {
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .select-program__wrapper {
    margin: 0 auto;
    width: 707px;
    padding-left: 40px;
    padding-right: 37px;
    box-sizing: border-box;
  }
}
@media (min-width: 1200px) {
  .select-program__wrapper {
    width: 1220px;
  }
}
.select-program__title {
  margin: 0;
}
.select-program__description {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
@media (min-width: 1200px) {
  .form__filds-wrapper {
    display: flex;
  }
}
.form__legend {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-transform: none;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .fields__list {
    display: flex;
    justify-content: space-between;
  }
}
.fields__input::placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
.comment__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
.option__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .option__list {
    display: grid;
    grid-template-columns: 250px 282px;
  }
}
@media (min-width: 1200px) {
  .option__list {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .catalog__wrapper {
    margin: 0 auto;
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .catalog__wrapper {
    width: 1220px;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: repeat(4, auto);
  }
}
@media (min-width: 1200px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    grid-template-rows: repeat(2, auto);
  }
}
.product-cart__title-link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.product-cart__image {
  display: block;
  width: 68px;
  height: 86px;
}
.product-cart__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.show-more__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.show-more__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product-options__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}
.product-options__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-variant__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  margin: 0;
}
.product-variant__description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #FFFFFF;
}
.navigation {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 64px;
  z-index: 2;
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
}
.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 20px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.navigation--opened .navigation__wrapper {
  position: absolute;
  top: 0;
  z-index: 2;
  min-height: 80vh;
}
.navigation--opened .navigation__toggle::before,
.navigation--opened .navigation__toggle::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 19px;
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.navigation--opened .navigation__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.navigation--opened .navigation__toggle::after {
  transform: rotate(-45deg);
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
  .navigation__list {
    width: 440px;
  }
}
@media (min-width: 1200px) {
  .navigation__list {
    width: 478px;
  }
}
.navigation__item::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #E6E6E6;
}
.navigation__link {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  display: block;
  padding: 22px 20px;
}
@media (max-width: 767px) {
  .navigation--closed .site-list__item {
    display: none;
  }
  .navigation--closed .user-list__item {
    display: none;
  }
}
.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #68B738;
  border: none;
}
.button--form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.button--catalog {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.button--more {
  background-color: #F2F2F2;
  color: #444444;
}
.logo {
  display: block;
}
@media (min-width: 768px) {
  .main-container__options-promo-wrapper {
    margin: 0 auto;
    width: 708px;
  }
}
@media (min-width: 1200px) {
  .main-container__options-promo-wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }
}
.main-header {
  background-color: #FFFFFF;
  color: #000000;
}
.main-header__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .main-header__wrapper {
    width: 1220px;
  }
}
.main-header__logo {
  height: 38px;
  padding: 10px 20px 18px;
}
@media (min-width: 768px) {
  .main-header__logo {
    height: 52px;
  }
}
@media (min-width: 1200px) {
  .main-header__logo {
    height: 59px;
  }
}
.contacts__wrapper {
  width: 320px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    margin: 0 auto;
    width: 707px;
  }
}
@media (min-width: 1200px) {
  .contacts__wrapper {
    width: 1220px;
  }
}
.contacts__description-wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 172px;
  margin: 0;
}
.contacts__address {
  width: 160px;
}
.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    margin: 0 auto;
    width: 707px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    width: 1220px;
  }
}
.main-footer__copyright-link {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}
